.start{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 350px 350px;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.cast{
    padding-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.cartObrazok{
    height: 14vw;
    width: 14vw;
}
.list{
    gap: 20px;
}
.mam{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10vh;
}
