.start{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
.pic{
    height: 30vw;
    width: 30vw;
}
.cast{
    padding-top: 1vw;
    display: flex;
    align-items: center;
    gap: 20px;
}
.cartObrazok{
    height: 20vw;
    width: 20vw;
}
.list{
    gap: 20px;
}
.mam{
    display: flex;
    align-items: center;
    flex-direction: column;
}